<!-- 自定义关于页 -->

<p style="color: #444;">
    <span class="iconfont icon-cogs"></span>
    关于我
</p>

<ul style="list-style-type: none;">
    <li title="请先登录脉脉">
        <span class="iconfont icon-profile"></span>
        查看<a href="https://maimai.cn/contact/detail/226567957?from=DialogueCard&from_webim=1" target="_blank">个人介绍</a>
    </li>
    <li>
        <span class="iconfont icon-school"></span>
        2017 年 7 月，硕士毕业于哈尔滨工业大学《计算机科学与技术》专业，研究方向为 穿戴计算，容错计算，负责开发和适配内核驱动和底层软件。
    </li>
    <li>
        <span class="iconfont icon-newspaper"></span>
        现工作于华为 OSKernelLAB HULK(Huawei Unified Linux Kernel) 团队。工作职责为 调度和性能优化，以及部分 ARM64 的工作。
    </li>
    <li>
        <span class="iconfont icon-email"></span>
        联系邮箱 gatieme@163.com
    </li>
</ul>

<p style="color: #444;">
    <span class="iconfont icon-cogs"></span>
    关于博客
</p>

<ul style="list-style-type: none;">
    <li>
        <span class="iconfont icon-files"></span>
        博客采用<a href="https://hexo.io/">Hexo</a>静态博客系统、主题为<a href="https://jelon.top">Jelon （张德龙）</a> 开发主题<a href="https://github.com/jangdelong/hexo-theme-xups" target="_blank">Xups</a> (<a href="https://hexo.io/themes/" target="_blank">Hexo 官网</a>已收录)
    </li>
    <li>
        <span class="iconfont icon-files"></span>
	作为一枚底层狗，前端一窍不通，在这里衷心感谢 <a href="https://jelon.top">Jelon </a> 大神。
    </li>
    <li>
        <span class="iconfont icon-files"></span>
        博客内容主要是学习工作过程中的总结的一些 Linux 和 Kernel 工具/技术，日常琐事等，除非特殊声明，博客内容皆为个人原创，转载烦请标注文章来源
    </li>
</ul>

<p style="color: #444;">
    <span class="iconfont icon-cogs"></span>
    关联账号
</p>

<ul style="list-style-type: none;">
    <li>
        <span class="iconfont icon-github"></span>
        <a href="https://github.com/gatieme" target="_blank">Github主页</a>
    </li>
    <li>
        <span class="iconfont icon-newspaper"></span>
        <a href="https://blog.csdn.net/gatieme" target="_blank">CSDN博客</a>
    </li>
    <li>
        <span class="iconfont icon-newspaper"></span>
        <a href="https://www.cnblogs.com/gatieme" target="_blank">cnblogs博客（很少更新）</a>
    </li>
    <li>
        <span class="iconfont icon-newspaper"></span>
        <a href="https://stackoverflow.com/users/4935308/gatieme" target="_blank">StackOverFlow</a>
    </li>
</ul>
