<!-- 自定义留言页 -->
<table>
<thead>
<tr>
<th style="text-align:center">公众号</th>
<th style="text-align:center">个人微信</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:center"><img src="<%- url_for('img/wechat_mp.jpg') %>"  alt="公众号"></td>
<td style="text-align:center"><img src="<%- url_for('img/wechat_gatieme.png') %>" alt="个人微信"></td>
</tr>
</tbody>
</table>
<p class="text-center">
  如果觉得博客对您有用，欢迎微信赞赏
</p>
<% if (theme.comment.enable) { %>
  <%- partial('../_partial/post/comment') %>
<% } %>
